# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/*
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/config
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/graph.json
!.obsidian/hotkeys.json

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*

# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store